@using ECommerce.Core.Models.Order
@model IEnumerable<OrderItem>

@{
    ViewData["Title"] = "Order Items";
}

<h2>Order Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Order Item Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>
                    @if (item.OrderItemStatus == ItemStatus.Pending)
                    {
                        <span class="badge bg-warning text-dark">Pending</span>
                    }
                    else if (item.OrderItemStatus == ItemStatus.Ready)
                    {
                        <span class="badge bg-success">Ready</span>
                    }
                    else if (item.OrderItemStatus == ItemStatus.InProgress)
                    {
                        <span class="badge bg-info">In Progress</span>
                    }
                    else if (item.OrderItemStatus == ItemStatus.Cancelled)
                    {
                        <span class="badge bg-danger">Cancelled</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Unknown</span>
                    }
                </td>
                <td>
                    
                    <a href="@Url.Action("Edit", new { orderItemId = item.Id })" class="btn btn-primary">Edit</a>
					<a href="@Url.Action("Details", new { orderItemId = item.Id })" class="btn btn-info">Details</a>
                   @*  <form asp-action="DeleteOrderItem" method="post" style="display:inline;">
                        <input type="hidden" name="orderItemId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>


    @if (Model.Any(oi => oi.OrderItemStatus == ItemStatus.Pending))
    {
        <form asp-action="ConfirmOrderItem" method="post" style="display:inline;">
        <input type="hidden" name="orderId" value="@Model.FirstOrDefault().OrderId" />
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    }
else if (Model.Any(oi => oi.OrderItemStatus == ItemStatus.InProgress))
    {
        
    <form asp-action="OrderReady" method="post" style="display:inline;">
        <input type="hidden" name="orderId" value="@Model.FirstOrDefault().OrderId" />
        <button type="submit" class="btn btn-success">OrderReady</button>
    </form>
    <span class="btn btn-success" style="visibility: hidden;">Confirm</span>
    }else{
    <button type="submit" class="btn btn-success" style="visibility: hidden;">OrderReady</button>
    <button type="submit" class="btn btn-success" style="visibility: hidden;">Confirm</button>
    }
<form asp-action="Index" method="post" style="display:inline;">
   
    <button type="submit" class="btn btn-success">Back To Order</button>
</form>
